@charset "utf-8";
/* CSS Document */

/*@import '../js/dataTables/demo_page.css';
@import '../js/dataTables/demo_table.css';*/
* {
	font-family: "微软雅黑";
}
/* 框架 */
body {
	background: #FFFFFF;
	font-size: 14px;
	color: #333333;
	font-family: Arial, "微软雅黑", "宋体";
}

#header {
	height: 50px;
	background: #FFFFFF;
	min-width: 1280px;
	position: relative;
	z-index: 101;
}

#menu {
	height: 50px;
	line-height: 50px;
	min-width: 1280px;
	background: url(../images/bg.png) repeat-x left 0;
}

#container:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	overflow: hidden;
}

#container {
	zoom: 1;
	width: 100%;
	min-width: 1280px;
}

.side {
	float: left;
	width: 230px;
	display: inline;
	background: #FFFFFF;
}

#main {
	float: right;
	width: 100%;
	margin-left: -230px;
	height: auto !important;
	min-height: 600px;
	height: 600px;
}

.content {
	background: #EAEAEB;
	margin: 0 0 0 230px;
	padding: 1px 10px 15px 15px;
	height: auto !important;
	min-height: 600px;
	height: 600px;
	border-left: #BFBFBF 1px solid;
}

#footer {
	position: relative;
	z-index: 100;
	width: 100%;
	min-width: 1280px;
	height: 30px;
	padding-top: 20px;
	line-height: 10px;
	color: white;
	text-align: center;
}

/* 输入框 */
.input-text {
	background: white;
	border: 1px solid #AAAAAA;
	height: 23px;
	line-height: 23px;
	color: #666666;
	padding: 0 5px;
	border-radius: 1px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, .1) inset;
}

.input-text1 {
	background: white;
	border: 1px solid #AAAAAA;
	height: 25px;
	line-height: 25px;
	color: #666666;
	padding: 0 5px;
	width: 330px;
	border-radius: 1px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, .1) inset;
}

.input-text2 {
	background: white;
	border: 1px solid #AAAAAA;
	height: 35px;
	line-height: 35px;
	color: #666666;
	padding: 0 5px;
	width: 330px;
	border-radius: 1px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, .1) inset;
}

.input-text-user {
	border: #D8D8D8 1px solid;
	border-radius: 3px;
	width: 290px;
	padding-left: 40px;
	height: 32px;
	line-height: 32px;
	background: white url(../images/img.png) no-repeat 0px top;
}

.input-text-password {
	border: #D8D8D8 1px solid;
	border-radius: 3px;
	width: 290px;
	padding-left: 40px;
	height: 32px;
	line-height: 32px;
	background: white url(../images/img.png) no-repeat 0px -50px;
}

.input-text-user.error {
	background: #FFD2D2 url(../images/img.png) no-repeat 0px top;
	border-width: 3px;
}

.input-text-password.error {
	background: #FFD2D2 url(../images/img.png) no-repeat 0px -50px;
	border-width: 3px;
}

.login-btn {
	display: block;
	background: #68b3a3;
	width: 330px;
	text-align: center;
	height: 35px;
	line-height: 35px;
	color: white;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid #215A8D;
}

/* body */
.bodyWhite {
	background: #FFFFFF;
}

.bodyWhite #container {
	background: #FFFFFF;
}

.bodyWhite #container .content {
	background: #FFFFFF;
}

.widescreen #container {
	margin: 0;
	background: #EAEAEB;
}

.widescreen #container .content {
	padding: 0 0 30px 0;
	margin: 0;
	box-shadow: none;
	border: none;
}

.widescreen .widget-box {
	padding: 30px;
	background: white;
	margin: 20px 30px 0 30px;
	border-radius: 3px;
	border: 1px solid #CCCCCC;
}

.widescreen .widget-box .widget-title {
	margin: -31px -31px 0 -31px;
	border-color: #CCCCCC;
}

.widescreen .widget-content {
	border: 0;
}

.loginbody {
	background: url(../images/back-ground.jpg);
	background-size: cover;
}

#bug-manager {
	color: #fff;
	font-size: 20px;
	font-family: '宋体';
	text-align: center;
}

a {
	cursor: pointer;
}

.ui-widget {
	font-family: 'Century Gothic', Tahoma, Verdana, Arial, "微软雅黑", "黑体",
		"宋体";
}

.tabbarFreeDuv {
	height: 30px;
}

.submiterror {
	text-align: center;
	padding: 15px 0;
	color: #C00;
}

.mb {
	margin-top: 15px;
}

.mt {
	margin-bottom: 15px;
}

.mlr {
	margin: 0 10px;
}

.auto {
	margin-left: auto;
	margin-right: auto;
}

.hideDiv {
	display: none;
}

.icon-tips {
	width: 25px;
	height: 25px;
	background: url(../images/icon-tips.png) no-repeat left top;
	float: left;
	overflow: hidden;
	font-size: 0;
	text-indent: -99999px;
}

.icon-tips-ok {
	background-position: left 0;
}

.icon-tips-warning {
	background-position: left -50px;
}

.icon-tips-error {
	background-position: left -100px;
}
/* icon-tips */
/* inquiry */

/* 行 */
.rowDiv:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	overflow: hidden;
}

.rowDiv {
	zoom: 1;
	line-height: 30px;
	height: 35px;
	*position: relative;
	*z-index: 100;
}

.row {
	height: 35px;
	line-height: 22px;
	position: relative;
}

.row .relative-box {
	margin: 0 10px 0 10px;
}

.rowT:after, .rowR:after, .mapRow:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	overflow: hidden;
}

.rowT, .rowR, .mapRow {
	zoom: 1;
	padding: 6px 0;
}

.rowR {
	padding: 10px 0;
}

.rowR .field {
	float: left;
	width: 120px;
	text-align: right;
	line-height: 35px;
}

.rowR .value {
	float: left;
	line-height: 35px;
}

.rowT .field {
	float: left;
	width: 80px;
	line-height: 30px;
}

.rowT .value {
	float: left;
	line-height: 30px;
}

.rowT .value label {
	margin: 0 15px 0 5px;
}

.rowT .value .select-box {
	margin: 0;
}

.rowT-row {
	display: block;
}

.mapRow {
	line-height: 15px;
}

.colorBlock {
	float: left;
	width: 30px;
	height: 15px;
	margin-right: 10px;
	font-size: 0;
	overflow: hidden;
}

.addBtn {
	margin: 80px 10px 0 10px;
}

dl.webFn:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	overflow: hidden;
}

dl.webFn {
	zoom: 1;
}

dl.mwebFn .icon {
	margin-top: 2px;
}

dl.webFn, dl.mwebFn {
	line-height: 30px;
	border: 1px solid #CCCCCC;
	background: white;
	margin-top: -1px;
}

dl.webFn {
	border: 0;
}

dl.webFn dt, dl.mwebFn dt {
	background: url(../images/bg.png) repeat-x left -400px;
	padding-left: 10px;
	font-weight: bold;
}

dl.webFn dt {
	padding-left: 40px;
	background: #F3F3F3;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
}

dl.webFn dd {
	padding-left: 80px;
	float: left;
}

.app {
	padding: 15px 0;
}

.app h3 {
	font-size: 15px;
}

.account-submit:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	overflow: hidden;
}

.account-submit {
	zoom: 1;
	padding: 20px 0 0 160px;
}

.error {
	color: red;
	font-size: 12px;
}

input.error {
	border: 1px solid #C00;
	background: #FFD2D2;
	color: #666;
}

.tips {
	color: #999;
	font-size: 12px;
}

.tipsNoauthority {
	width: 416px;
	height: 314px;
	background: url(../images/not.png) no-repeat center center;
	margin: 30px auto 80px auto;
}

.tipsNoauthority a {
	float: right;
	font-size: 16px;
	margin-top: 80px;
}
/* add account */

/* login */
.loginbox, .not-box {
	width: 400px;
	margin: 0px auto 10px auto;
}

.loginbox .logo-a, .not-box .logo-a {
	height: 150px;
	text-align: center;
}

.loginbox .loginbox-title {
	background: #FFFFFF;
	height: 30px;
	border-radius: 3px 3px 0 0;
}

.loginbox .loginbox-title .logo {
	padding: 12px 20px;
}

.loginbox .loginbox-title h3 {
	color: #666666;
	padding: 0 20px;
	line-height: 50px;
	font-size: 16px;
	border-bottom: 1px solid #F2F2F2;
}

.loginbox .login-content {
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	padding-bottom: 20px;
}

.loginbox .login-content .text {
	width: 330px;
	margin: 0 auto;
	line-height: 25px;
}

.loginbox .login-content .text h5 {
	font-size: 14px;
}

.loginbox .login-content {
	background: #FFFFFF;
	height: auto !important;
	min-height: 100px;
	height: 100px;
	font-size: 14px;
}

.loginbox .login-content .row {
	width: 330px;
	margin: 0 auto;
	padding: 20px 0;
	position: relative;
}

.loginbox .login-content .row .field {
	position: absolute;
	left: 40px;
	top: 23px;
	height: 35px;
	line-height: 35px;
	pointer-events: none;
}

.loginbox .login-content .tips {
	padding: 5px 0;
	height: 25px;
	font-size: 14px;
}

.loginbox .login-content .tips input {
	margin-right: 5px;
}

.loginbox .login-content .btnArea {
	padding: 0;
	margin: 15px auto 5px auto;
}

.loginbox .login-content .row .noPic {
	background-image: none;
	padding: 0 15px;
	width: 300px;
	height: 34px;
	line-height: 34px;
}

.go-regist {
	text-align: center;
	height: 80px;
	line-height: 80px;
	color: white;
}

.btnArea .abtn {
	font-size: 14px;
	padding: 0 30px;
}

a.link, .go-regist a, .loginbox label a {
	color: #006DA7;
	cursor: pointer;
	line-height: 25px;
}

.login-error {
	display: none;
	width: 330px;
	margin: 0 auto;
	color: red;
}

.tipsResults {
	display: none;
	padding: 30px 50px;
	text-align: center;
}

.tipsResults a {
	color: #5277A4;
}

.loginbox .autosuggest {
	position: absolute;
	left: 0;
	top: 54px;
	z-index: 1000;
}

.loginbox .autosuggest li {
	width: 320px;
	padding: 5px 5px;
	border-bottom: 1px solid #CCCCCC;
}

/* regist */
.registbox {
	margin-top: 20px;
}

.registbox .reg-content {
	
}

.registbox .reg-content .row {
	padding: 10px 0;
}

.registbox .reg-content .row .field {
	position: absolute;
	left: 10px;
	top: 13px;
	height: 35px;
	line-height: 35px;
}

.registbox .reg-content .row .noPic {
	background-image: none;
	padding: 0 15px;
}

.registbox .reg-content .row label.error {
	position: absolute;
	left: auto;
	right: 10px;
	bottom: 5px;
}

.registbox .reg-content .tips {
	padding: 0;
}

.registbox .login-content .weibo {
	padding: 0;
	height: 60px;
	color: #999999;
}

.registbox .login-content .weibo p {
	padding: 3px 0;
}

.registbox .login-content .weibo p img {
	margin-right: 10px;
}

.win {
	margin: 60px auto;
	width: 800px;
}

.win .logo a {
	padding: 15px 0;
}

.win .winbox {
	box-shadow: 0 0 4px black;
}

.win .step {
	background: #FFFFFF;
	height: 71px;
	border-radius: 4px 4px 0 0;
	overflow: hidden;
}

.win .sub-step {
	float: left;
	width: 266px;
	background: url(../images/bg.png) repeat-x left -640px;
	height: 50px;
	line-height: 50px;
	padding: 10px 0;
	border-left: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
	margin-left: -1px;
}

.win .sub-step:first-child {
	border-radius: 4px 0 0 0;
}

.win .sub-step:last-of-type {
	border-radius: 0 4px 0 0;
}

.win .sub-step-current {
	background: #FFFFFF;
	color: #666666;
	border-right: 1px solid #496D9A;
	border-bottom: 0;
}

.win .sub-step .icon45 {
	margin: 0 10px 0 20px;
}

.win .sub-step .icon45-mail {
	background-position: left -1140px;
}

.win .sub-step .icon45-audit {
	background-position: left -1240px;
}

.win .win-content {
	background: white;
	border-radius: 0 0 4px 4px;
	padding: 25px 90px;
	height: 320px;
}

.win .win-content .text {
	line-height: 25px;
}

.win .win-content .text a {
	color: #006DA7;
}

.win .win-content .text h5 {
	font-size: 14px;
}

.win .win-content .btnArea {
	padding: 20px 0;
}

.side .loading {
	margin-top: 100px;
	text-align: center;
}

.widget-content .loading {
	position: absolute !important;
	left: 50%;
	top: 50%;
	width: 180px !important;
	height: 80px;
	margin: -40px 0 0 -90px !important;
	text-align: center;
}

.widget-content td .tdloading {
	position: static !important;
	margin: 0 !important;
	width: 100% !important;
}

.mask {
	background: #CCCCCC;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.loading-img {
	width: 32px;
	height: 32px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -16px 0 0 -16px;
}
/* loading */