* {
    padding:0px;
    margin:0px;
}

#searchbox {
    margin-top:10px;
    height:37px;
    width:550px;
    margin-left:20px;
    
}
#searchbox div {
    float:left;
} 
#txtTitle {
   height:35px;
   width:440px;
   line-height:35px;
   border:solid 1px #4791FF;
}

#buttongoole{
	width:100px;dtitles
   height:37px;
   background:#167ED9;
   display:block;
   line-height:37px;
   color:#ffffff;
   text-align:center; 
}
a:link {
    text-decoration:none;
}
a:hover {
    cursor:pointer;
}
#dtitles ul li
{
  padding-top:10px;
height:30px;	
list-style:none;
margin-left:5px;
}
#dtitles{
    width:440px;
    height:160px;
    border:solid 1px #CCCCCC;
    display:none;
    font-size:16px;
    margin-left:20px;
    
}
.li1 {
    background:#F0F0F0;
}